/* // Exercise One */
/* ul li {
    color: yellowgreen;

} */

/* Exercise Two */
/* p{
    color: brown;
    font-size: 20px;
}
.fav{
    color:blue
}
#character-name{
    color: darkblue;
    font-size: 25px;
} */


/* Exercise Three */

/* .header {
    background-color: #007bff; 
    color: #ffffff; 
}

.about, .services {
    background-color: #f8f9fa; 
    color: #343a40; 
}

.service {
    background-color: #28a745; 
    color: #ffffff; 
}

.footer {
    background-color: #343a40; 
    color: #f8f9fa; 
}

#t1{
    background-color: blue;
    color: white;
}
#t2{
    background-color: #343a40;
    color: rgb(144, 144, 243);
}
#t3{
    background-color: #28a745;
    color: red;
}
 */
/* Exercise four */
/* #arialfont{
    font-family: Arial, Helvetica, sans-serif;
}
blockquote{
    font-family: fantasy;
    font-size: 15px;
    font-style: italic;
}
blockquote footer{
    font-family: sans-serif;
    font-style: bold;
    font-size: 10px;
} */


/* Exercise Five */

/* article h2{
    text-align:center;
}
article p{
    line-height: 4px;
}
.important{
    text-decoration: underline;
} */


/* Exercise six */

#box1{
    background-color: blue;
    margin: 20px;
}
#box2{
    background-color: green;
    margin: 20px;
}
#box3{
    background-color: red;
    margin: 20px;
}

