/* // Exercise One */
/* ul li {
    color: yellowgreen;

} */

/* Exercise Two */
/* p{
    color: brown;
    font-size: 20px;
}
.fav{
    color:blue
}
#character-name{
    color: darkblue;
    font-size: 25px;
} */


/* Exercise Three */

/* .header {
    background-color: #007bff; 
    color: #ffffff; 
}

.about, .services {
    background-color: #f8f9fa; 
    color: #343a40; 
}

.service {
    background-color: #28a745; 
    color: #ffffff; 
}

.footer {
    background-color: #343a40; 
    color: #f8f9fa; 
}

#t1{
    background-color: blue;
    color: white;
}
#t2{
    background-color: #343a40;
    color: rgb(144, 144, 243);
}
#t3{
    background-color: #28a745;
    color: red;
}
 */
/* Exercise four */
/* #arialfont{
    font-family: Arial, Helvetica, sans-serif;
}
blockquote{
    font-family: fantasy;
    font-size: 15px;
    font-style: italic;
}
blockquote footer{
    font-family: sans-serif;
    font-style: bold;
    font-size: 10px;
} */


/* Exercise Five */

/* article h2{
    text-align:center;
}
article p{
    line-height: 4px;
}
.important{
    text-decoration: underline;
} */


/* Exercise six */
/* 
#box1{
    background-color: blue;
    margin: 20px;
}
#box2{
    background-color: green;
    margin: 20px;
}
#box3{
    background-color: red;
    margin: 20px;
} */

/* Execise Seven */
/* 
#block1{
    background-color: brown;
    padding: 40px;
    color: wheat;
}

#block2{
    background-color: black;
    padding: 20px;
    color: white;
}

#block3{
    background-color: blue;
    color: white;
    padding: 10px;
} */

/* Exercise Eight */
/* 
body{
    background-color: grey;
    color: blue;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.solid{
    border: 2px solid black;
    width: 350px;
    color: green;
}

.dotted{
    border: 2px dotted green;
    width: 300px;
    color: black;
}
.dashed{
    border: 2px dashed red;
    width: 250px;
    color: blue;
}

.double{
    border: 2px double blue;
    width: 200px;
    color: red;
}

.quote{
    margin: 20px;
    padding: 15px;
}
#quote1{
    background-color: lightblue;
    text-align: left;
}
#quote2{
    background-color: lightcoral;
    text-align: left;
}
#quote3{
    background-color: lightgreen;
    text-align: left;
}
#quote4{
    background-color: lightpink;
    text-align: left;
} */

/* Exercise9 */
/* 
.interest-section{
    width: 80vw;
    height: 50vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 20px;
}
#books{
    background-color: lightblue;
}
#movies{
    background-color: lightgray;
}
#foods{
    background-color: lightgreen;
}
h1{
    text-align: center;
    font-size: 24px;
}
p{
    font-size: 16px;
}

.interest-section .book-list{
    text-align: center;
    list-style: none;
}

.interest-section .movies-list{
    text-align: center;
    list-style: none;
}
.interest-section .food-list{
    text-align: center;
    list-style: none;
}
 */

 /* Exercise10 */
/* 
 #div1{
    display: inline;
    background-color: lightblue;
    width: 98vw;
 }
 #span1{
    display: block;
    background-color: coral;
 }
 #div2{
    display: none;
 }
 #span2{
    display: block;
    width: 100vw;
    background-color: yellow;
 } */


 /* Exercise Eleven */
 /* body{
    background-color: gray;
 }
 .feature-section{
 background-color: lightpink;
 background-image: url("https://images.unsplash.com/photo-1560769629-975ec94e6a86?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2hvZXN8ZW58MHx8MHx8fDA%3D");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 width: 300px;
 height: 300px;
 border-radius: 10px;


}

.feature-section h2{
    text-align: center;
    font-weight: bold;
}
.feature-section p{
    text-align: center;
    color: blue;
    font-size: 10px;
    font-weight: bold;

}
.feature-section img{
    width: 80px;
    height: 80px;
    margin-top: 50%;
    margin-left: 30%;
    border-radius: 50px;
    
 
} */


/* Exercise Tweleve */
/* 
.promo-container {
  position: relative;
  width: 300px;
  height: 350px; 
  border-radius: 10px;
  overflow: hidden; 
}
.profile-image {
  width: 100%;
  height: 100%;
  
}

.promo-badge {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px 0;
}
.user-name {
  font-size: 20px;
  font-weight: bold;
}
.user-title {
  font-size: 14px;
} */

/* 
Exercise Thirteen */
/* 
.fixed-header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: cornflowerblue;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
}


.fixed-header a{
    color: white;
    padding: 10px ;
    text-decoration: none;
    font-size: 30px;
}

.fixed-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:cornflowerblue ;
    padding: 10px 0;
    text-align: center;
}

.fixed-footer a{
    color: white;
} */
/* 
Execise Fourteen

.sticky-header{
    position: sticky;
    top: 0;
    padding: 10px 0;
    background-color:rgb(252, 252, 255);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: blue;
    
} */

/* Exercise Fifteen */
/* 
.nav-bar{
    background-color: rgb(57, 57, 245);
    padding: 10px;
    text-align: center;
    width: 100%;
    
}

.nav-bar a{
    width: 180px;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    background-color: gray;
    border-radius: 10px;
    display: inline-block;
}


.border-box a{
 box-sizing: border-box;
}

.img-gellery {
    display: inline-block;
    padding: 20px;
    border: 3px solid black;
    text-align: center;
}

.img-gellery img {
    box-sizing: content-box;
    width: 300px;
    height: 300px;
    border: 5px solid red; 
} */

/* Execise sixsteen */
/* 
.media-player{
    display: flex;
}

.control-button{
    flex: 1;
    min-width:60px;
    padding: 10px;
    border: none;
}
.play{
flex: 2;
} */

/*Exercise17 */

/* body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
} */

/* 
.main-container{
    display: flex;
    flex: 1;
    
    border: 1px solid black;
    width: 90vw;
    height: 70vh;
    justify-content: center;
    
   
}



.img-section img{
    width: 300px;
    height: 350px;
    padding: 10px;
}
.buttons{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 15px;
}
.btn{
    background-color: blue;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 5px;
} */

/* Exercise Eighteen */
/* 
.nav-bar{
    background-color: rgb(112, 113, 84);
    height: 60px;  
    text-align: center;
    padding: 5px;
    position: sticky;
    top: 0;
    
   
 
}
.nav-bar ul li{
    list-style: none;
    text-decoration: none;
    display: inline;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;

}

        
   
.nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    background-color: rgb(177, 149, 242);
    width: 150px;
    display: inline-block;
    border-radius: 10px;
 
}
body{
    position: absolute;
    background-color: rgb(255, 255, 255);
}
.main-container{
    
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    gap: 20px;

    
 
}

.posts-container {
    display: flex;
    flex-direction: column;        
    flex: 3;
}

.main-container img{
    width: 100%;
}
.posts{
    border: 1px solid goldenrod;
    padding: 10px;
    flex: 3;
    margin: 10px;
}
.posts .read_more{
    background-color: blue;
    color: white;
    height: 40px;
    border-radius: 10px;
}


.side-bar{
    text-align: center;
    flex: 1;
    background-color: rgb(239, 205, 163);
    padding: 10px;
    margin-top: 10px;
    height: auto;
 
    

}

.footer{
    background-color: rgb(112, 113, 84);
    text-align: center;
    padding: 5px;
    position: sticky;
    bottom: 0;
    color: white;
} */

/* Exercise Nineteen */
/* .container{

  
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 10px;
   
}
.boxes{
    background-color: blue;
    padding: 20px;
   
} */

/* 
Exercise Twenty */
/* 
.main-container{
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,100px);
}
.article{
    background-color: blue;
    border: 5px solid yellow;
    color: white;
    text-align: center;
    align-content: center;
    
}
.main-article{
   grid-column: 1 / span 2;
   grid-row: 1 / span 2;
}

.tuaalecororzila{
    color: #daeceb;
} */

/* Exercise Twenty One */

/* .container{
    width: 1110px;
    margin: 0px auto;
}

.section-header {
  grid-column: 1 / span 2; 
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.section-title {
  background: #000;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.section-line {
  flex: 1;
  height: 2px;
  background: #000;
  margin-left: 0px;
  margin-top: 26px;
  margin-right: 5px;
}

.grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr)

}

.grid-container div{
    
}

.grid-container .blogs{
    display: grid;
    grid-column: 1 / span 2;
}

.grid-container .blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}

.grid-container .blog{
   
}

.grid-container .blogs .blog-descs{
    display: grid;
    grid-column: 2 / span 3;
    margin-top: 0;
    padding-top: 0;
    padding-left: 10px;
    cursor: pointer;
}

.blog .blog-images{
   padding-top: 20px;
}

.blog-image img{
    width: 100%;
}

.grid-container .blogs .blog-descs .blog-desc h2:hover{
    color: blue;
}

.ads img{
    width: 100%;

   
} */



/* .grid-container div{
    background-color: greenyellow;
    padding: 20px;
}

.grid-container .blogs{
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
   
}

.grid-container .blogs .blog{
    background-color: brown;
    display: gird;
    

} */

/* Exercise Twenty Two */

/* .main-container{

    width: 800px;
    margin: auto;

}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.container img{
    width: 100%;
}

.box{
    width: 250px;
    height: auto;
    padding: 40px;
    box-shadow: 1px 0.5px 1px 1px #888888;
    text-align: center;
}

.user-info{
    display: flex;
    flex-direction: column;
 
}
.user-info p{
    margin: 0;
   
} */

/* =========================
   RESPONSIVE BREAKPOINTS
========================= */

/* Smartphones */
/* @media (max-width: 640px) {
  .main-container {
    width: 100%;
    padding: 10px;
  }

  .container {
    justify-content: center;
  }

  .box {
    width: 100%;
    padding: 20px;
  }
} */

/* Tablets */
/* @media (min-width: 641px) and (max-width: 1024px) {
  .main-container {
    width: 90%;
  }

  .box {
    width: 45%;
    padding: 30px;
  }
}

/* Desktops & Laptops */
/* @media (min-width: 1025px) and (max-width: 1279px) {
  .main-container {
    width: 800px;
  }

  .box {
    width: 250px;
  }
} */ 


/* Exercise Twenty Three */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


.main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}


img{
    max-width: 100%;
    border-radius: 5px;
}

.blog{
    min-width: 200px;
    /* max-width: 200px; */
    width: calc(25% - 20px);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


@media(max-width:1200px){
    .blog{
        width: calc(33% - 20px);
    }
}

@media(max-width:768px){

    .blog{
        width: calc(50% - 20px);
    }
}

@media(max-width: 480px){
    .blog{
        width: 100%;
    }
}