/* // Exercise One */
/* ul li {
    color: yellowgreen;

} */

/* Exercise Two */
/* p{
    color: brown;
    font-size: 20px;
}
.fav{
    color:blue
}
#character-name{
    color: darkblue;
    font-size: 25px;
} */


/* Exercise Three */

/* .header {
    background-color: #007bff; 
    color: #ffffff; 
}

.about, .services {
    background-color: #f8f9fa; 
    color: #343a40; 
}

.service {
    background-color: #28a745; 
    color: #ffffff; 
}

.footer {
    background-color: #343a40; 
    color: #f8f9fa; 
}

#t1{
    background-color: blue;
    color: white;
}
#t2{
    background-color: #343a40;
    color: rgb(144, 144, 243);
}
#t3{
    background-color: #28a745;
    color: red;
}
 */
/* Exercise four */
/* #arialfont{
    font-family: Arial, Helvetica, sans-serif;
}
blockquote{
    font-family: fantasy;
    font-size: 15px;
    font-style: italic;
}
blockquote footer{
    font-family: sans-serif;
    font-style: bold;
    font-size: 10px;
} */


/* Exercise Five */

/* article h2{
    text-align:center;
}
article p{
    line-height: 4px;
}
.important{
    text-decoration: underline;
} */


/* Exercise six */
/* 
#box1{
    background-color: blue;
    margin: 20px;
}
#box2{
    background-color: green;
    margin: 20px;
}
#box3{
    background-color: red;
    margin: 20px;
} */

/* Execise Seven */
/* 
#block1{
    background-color: brown;
    padding: 40px;
    color: wheat;
}

#block2{
    background-color: black;
    padding: 20px;
    color: white;
}

#block3{
    background-color: blue;
    color: white;
    padding: 10px;
} */

/* Exercise Eight */

body{
    background-color: grey;
    color: blue;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.solid{
    border: 2px solid black;
    width: 350px;
    color: green;
}

.dotted{
    border: 2px dotted green;
    width: 300px;
    color: black;
}
.dashed{
    border: 2px dashed red;
    width: 250px;
    color: blue;
}

.double{
    border: 2px double blue;
    width: 200px;
    color: red;
}

.quote{
    margin: 20px;
    padding: 15px;
}
#quote1{
    background-color: lightblue;
    text-align: left;
}
#quote2{
    background-color: lightcoral;
    text-align: left;
}
#quote3{
    background-color: lightgreen;
    text-align: left;
}
#quote4{
    background-color: lightpink;
    text-align: left;
}