/* // Exercise One */
/* ul li {
    color: yellowgreen;

} */

/* Exercise Two */
/* p{
    color: brown;
    font-size: 20px;
}
.fav{
    color:blue
}
#character-name{
    color: darkblue;
    font-size: 25px;
} */


/* Exercise Three */

/* .header {
    background-color: #007bff; 
    color: #ffffff; 
}

.about, .services {
    background-color: #f8f9fa; 
    color: #343a40; 
}

.service {
    background-color: #28a745; 
    color: #ffffff; 
}

.footer {
    background-color: #343a40; 
    color: #f8f9fa; 
}

#t1{
    background-color: blue;
    color: white;
}
#t2{
    background-color: #343a40;
    color: rgb(144, 144, 243);
}
#t3{
    background-color: #28a745;
    color: red;
}
 */
/* Exercise four */
/* #arialfont{
    font-family: Arial, Helvetica, sans-serif;
}
blockquote{
    font-family: fantasy;
    font-size: 15px;
    font-style: italic;
}
blockquote footer{
    font-family: sans-serif;
    font-style: bold;
    font-size: 10px;
} */


/* Exercise Five */

/* article h2{
    text-align:center;
}
article p{
    line-height: 4px;
}
.important{
    text-decoration: underline;
} */


/* Exercise six */
/* 
#box1{
    background-color: blue;
    margin: 20px;
}
#box2{
    background-color: green;
    margin: 20px;
}
#box3{
    background-color: red;
    margin: 20px;
} */

/* Execise Seven */
/* 
#block1{
    background-color: brown;
    padding: 40px;
    color: wheat;
}

#block2{
    background-color: black;
    padding: 20px;
    color: white;
}

#block3{
    background-color: blue;
    color: white;
    padding: 10px;
} */

/* Exercise Eight */
/* 
body{
    background-color: grey;
    color: blue;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.solid{
    border: 2px solid black;
    width: 350px;
    color: green;
}

.dotted{
    border: 2px dotted green;
    width: 300px;
    color: black;
}
.dashed{
    border: 2px dashed red;
    width: 250px;
    color: blue;
}

.double{
    border: 2px double blue;
    width: 200px;
    color: red;
}

.quote{
    margin: 20px;
    padding: 15px;
}
#quote1{
    background-color: lightblue;
    text-align: left;
}
#quote2{
    background-color: lightcoral;
    text-align: left;
}
#quote3{
    background-color: lightgreen;
    text-align: left;
}
#quote4{
    background-color: lightpink;
    text-align: left;
} */

/* Exercise9 */
/* 
.interest-section{
    width: 80vw;
    height: 50vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 20px;
}
#books{
    background-color: lightblue;
}
#movies{
    background-color: lightgray;
}
#foods{
    background-color: lightgreen;
}
h1{
    text-align: center;
    font-size: 24px;
}
p{
    font-size: 16px;
}

.interest-section .book-list{
    text-align: center;
    list-style: none;
}

.interest-section .movies-list{
    text-align: center;
    list-style: none;
}
.interest-section .food-list{
    text-align: center;
    list-style: none;
}
 */

 /* Exercise10 */
/* 
 #div1{
    display: inline;
    background-color: lightblue;
    width: 98vw;
 }
 #span1{
    display: block;
    background-color: coral;
 }
 #div2{
    display: none;
 }
 #span2{
    display: block;
    width: 100vw;
    background-color: yellow;
 } */


 /* Exercise Eleven */
 /* body{
    background-color: gray;
 }
 .feature-section{
 background-color: lightpink;
 background-image: url("https://images.unsplash.com/photo-1560769629-975ec94e6a86?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2hvZXN8ZW58MHx8MHx8fDA%3D");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 width: 300px;
 height: 300px;
 border-radius: 10px;


}

.feature-section h2{
    text-align: center;
    font-weight: bold;
}
.feature-section p{
    text-align: center;
    color: blue;
    font-size: 10px;
    font-weight: bold;

}
.feature-section img{
    width: 80px;
    height: 80px;
    margin-top: 50%;
    margin-left: 30%;
    border-radius: 50px;
    
 
} */


/* Exercise Tweleve */
/* .profile-card{
    position: relative;
    width: 300px;
    height: 200px;

}
.profile-image{
    width: 100%;
    height: auto;
}

.user-info{
    position:absolute;
    background-color: pink;
    font-weight: bold;
     border-radius: 15px;
    padding: 5px 10px;
    height: auto;
    
} */


/* .promo-container {
    position: relative;
  width: 300px;
  height: 20px;
}
.promo-image {
  width: 100%;
  height: 100%;
 
}
.promo-badge {
    top: 830px;
    position: absolute;
  background: lightslategray;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  width: 500px;
  right: -250px;
  text-align: center;
  padding: 10px;;

} */


.promo-container {
  position: relative;
  width: 300px;
  height: 350px; /* big enough for the image */
  border-radius: 10px;
  overflow: hidden; /* hides edges like rounded corners */
}

.profile-image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.promo-badge {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  background: rgba(0, 0, 0, 0.5); /* transparent black overlay */
  color: white;
  padding: 20px 0;
}
.user-name {
  font-size: 20px;
  font-weight: bold;
}
.user-title {
  font-size: 14px;
}
