@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Anybody", sans-serif;
}

.container{
   
    width: min(90%,1120px);
    margin-inline: auto;
    
}
img{
    width: 100%;
}



header{
    background-color: #fafaf6;
    height: 4.5rem;
    position: sticky;
    top: 0;
    width: 100%;

}
.desktop-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px;
    
}
.menus-link{
    display: flex;
    gap: 20px;
}
 li{
    list-style: none;
    text-decoration: none;

}
li a{
    text-decoration: none;
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}
ul li a :hover{
    color:  #5f6ad4;
}
.menus-link li a:hover{
    color:  #5f6ad4;
}

h1{
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;

}


.humbergur{
    display: none;
}

.mobile-menu{
    display: none;
}
i{
    z-index: 1111;
}
.primary-btn,.secandory-btn{
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.primary-btn{
    background-color: #5f6ad4;
    color: white;
}
.secandory-btn{
    background-color: transparent;
    color: white;
    border: white solid 1px;

}
.mobile-menu-action{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
   
}
.navigation{
    width: 80%;
    
}

.hero{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url("https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-min-an-1234035.jpg") bottom / cover no-repeat;
    height: calc(100vh - 4.5rem) ;
    display: flex;
    gap: 10px;
}

.hero .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1{
    font-size: 55px;
    font-weight: 400;
    line-height: 75px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.btn{
    display: inline;
    padding: 15px;
    font-size: 30px;
    border:black solid 1px;
    border-radius: 10px;
    background-color: #5f6ad4;
    color: white;
    transition: background-color 0.5s;
}

.btn:hover{
    background-color: #fafaf6;
    color: black;
}

.yoga{
    background:linear-gradient(rgba(151,151,151,0.5),rgba(111,111,111,0.5)),url("https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-lucas-pezeta-2121066.jpg") top /  cover no-repeat;
    height: 90vh;
    margin-top: 5rem;
    border-radius: 25px;
}

.yoga{
    display: flex;
    justify-content: center;
}
.yoga .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 728px;
    margin-inline: auto;
    gap: 30px;
    color: white;
   
}
.yoga .content h1{
    font-size: 2.125rem;
    text-align: center;
    

}
.yoga .content p{
    text-align: center;
    font-size: 1.rem;
    font-weight: 700;
}


.info-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-block: 50px;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 1.5rem;
    margin: 0 1.5rem;


}
.box h1{
    font-size: 25px;
    color: #2b2b2b;
}
.box p{
    color: #646464;
    font-size: 20px;
}
.box img{
    border-radius: 15px;
}

/* .box .box-btn{
    width: 25%;
  
} */
.box-btn {
    width: 25%;
    background-color:  #5f6ad4;
    text-align: center;
    padding: 10px;
}


.box-btn button {
    background: transparent;   /* remove button background */
    border: none;               /* remove border */
    color: white;               /* text color */
    font-size: 16px;
    cursor: pointer;
}

.perfect-condition{
    height: 70vh;
     background:linear-gradient(rgba(151,151,151,0.5),rgba(111,111,111,0.5)),url("https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-andrea-piacquadio-3779750.jpeg") center /  cover no-repeat;
     display: flex;
     justify-content: center;
     align-items: center;
     background-attachment: fixed;
     

}
.perfect-condition h2{
    font-size: 50px;
    color: #2b2b2b;
    font-weight: 400;
    text-align: center;
}

.perfect-condition p{
    font-size:20px ;
    color: #2b2b2b; ;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
}

.yoga-classes{
    height: 355px;
    background: url("https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-lucas-pezeta-2985098.jpg") center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
    margin-block: 2rem;
}
.yoga-box{
    border-radius: 10px;
    border: 1px solid #5f6ad4;
    background-color: #dfdfd8;
    color: #2a2a2a;
    display: flex;
    justify-content: space-between;
    height: 50%;
    margin-block: 30px;
    align-items: center;
    padding: 1rem;

}

.yoga-box h1{
    margin-top: 10px;
}

.btn-write{
      width: 25%;
    background-color:  #5f6ad4;
    text-align: center;
    padding: 10px;
}

footer{
    background-color: #2a2a2a;
    color: white;
    padding: 2rem;
}

.devine-section{
  
}
.devine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  
}
.devine img{
    border-radius: 35px;
    margin-top: 50px;
    
}
.image-wrapper {
  position: relative;
}

.image-wrapper img {
  width: 100%;
  display: block;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(0, 0, 255, 0.7);

  color: #fff;
  font-size: 32px;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.play-btn:hover {
  background: rgba(0, 0, 255, 1);
}

.devine h1{
    font-size: 50px;
    color: #2b2b2b;
    font-weight: 400;

}
.fa-solid .fa-play{

    font-size: 50px;
    background-color: red;
}
.blog-boxes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 50px;
}
.blog-boxes .box img{
    border-radius: 10px;
}

.blog-sec h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}


@media(max-width:768px){
    .desktop-menu{
        display: none;

    }
    header{
        height: 0px;
    }
    .humbergur{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 2%;
        right: 5%;
        background-color: #5f6ad4;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 2rem;

        
    }

    .mobile-menu{
        display: flex;
        position: fixed;
        background-color: #2b2b2b;
        inset: 0 0 0 0;
        justify-content: center;
        color: white;
        transform: translateX(0%);
        transition: transform 350ms ease-in-out;
    }

    .mobile-menu .navigation{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        gap: 1rem;
    }
    .mobile-menu .navigation .menus-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mobile-menu a{
        color: white;

    }
    .mobile-menu h1{
        border-bottom: white solid 1px;
        padding: 5px;
    }

    .hero{
        height: 100vh;

    }
    .hero h1{
        font-size: 3.0265rem
    }
    .yoga .content h1{
        font-size: 34px;
    }
       .yoga .content p{
        font-size: 1.3125rem;
        padding: 10px;
    }

    .info-boxes{
         grid-template-columns: 1fr;
    }

    
.perfect-condition h2{
    font-size: 2.125rem;
   
}

.perfect-condition p{
    font-size:18px ;
   
}

.yoga-box{
    flex-direction: column;
    height: 70%;

}
.yoga-box h1{
    font-size: 21px;
    font-weight: 400;
    padding: 1rem;
    

}
}

.mobile-menu[data-visible="false"]{
    transform: translateX(100%);
}

.humbergur i[data-visible="true"]{
    display: block;
}
.humbergur i[data-visible="false"]{
    display: none;
}

