*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid-container{
    width: 900px;
    margin-inline: auto;
}


.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.065rem;
     
}

.top-item{
    height: 30.00rem;
}

.top1 h2{
    font-size: 3.50rem;
    font-weight: 400;
    font-weight: 500;
}
top1 p{
    font-size: 1.63rem;
    font-weight: 500;
    color: rgba(37, 37, 37, 0.8);
}

button{
    background-color: #252525;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 1.13rem;
    cursor: pointer;
}

.top1{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: self-start;
    margin-top: 4.5rem;
}

.top2{
    background: url("https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y29tcHV0ZXJ8ZW58MHx8MHx8fDA%3D") center/cover no-repeat;

}


.top3{
    background: url("https://images.unsplash.com/photo-1528183429752-a97d0bf99b5a?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dHJlZXxlbnwwfHwwfHx8MA%3D%3D") center/cover no-repeat;
     margin-top: 9.5rem;

}
.top-item{
    border-radius: 1rem;

}

.top{
  margin-top: 4.065rem;
}

.bottom1{
     background: url("https://images.unsplash.com/photo-1528183429752-a97d0bf99b5a?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dHJlZXxlbnwwfHwwfHx8MA%3D%3D") center/cover no-repeat;
     height: 100%;
     border-radius: 1rem;
    
}

.bottom2{
     background: url("https://images.unsplash.com/photo-1528183429752-a97d0bf99b5a?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dHJlZXxlbnwwfHwwfHx8MA%3D%3D") center/cover no-repeat;
     height: 100%;
     border-radius: 1rem;
    
}

.bottom3{
     background: url("https://images.unsplash.com/photo-1528183429752-a97d0bf99b5a?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dHJlZXxlbnwwfHwwfHx8MA%3D%3D") center/cover no-repeat;
     height: 100%;
     border-radius: 1rem;
    
}

.bottom-item{
    height: 27.50rem;
}

.bottom{
    margin-block: 4.5rem;
    height: 27.50rem;
}
.bottom span{
    font-size: 2.5rem;
    color: #0d0d0d;
}