body{
     font-family: "Poppins", sans-serif;
     background-color: black;
     color: white;
}
.container{
    width: 1110px;
    margin: 0px auto;
}
.grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
}
.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / span 3;
}

.grid-container div{
    /* background-color:#ffa502;  */
    padding: 20px;
    
}

.blogs .blog img{
    width: 100%;
    height: 200px;
}

.blogs .blog .blog-title{
    font-weight: 500px;
    font-size: 22px;
    line-height: 29px;
    font-style: normal;
    cursor: pointer;
    color: white;
}
.blogs .blog .blog-title:hover{
    color: #ffa301;
}
.blogs .blog .badge-date{
    display: flex;
    gap: 15px;
    align-items: center;

}

.blogs .blog .badge-date .badge{
    font-weight: 700;
    color: #230e00;
    line-height: 11px;
    font-size: 11px;
    background-color: #ffa301;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.blogs .blog .badge-date .date{
    color: #767676;
    font-size: 11px;
    font-weight: 700;
    line-height: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ads .ad{
    background:  url("https://demo.tagdiv.com/newspaper_black_pro/wp-content/uploads/2019/12/custom-rec-2.jpg") center /cover no-repeat;
    width: 347px;
    height: 277px;
}

.instegram .user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instegram .user .profile{
    display: flex;

}
.instegram .user .profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.instegram .user .profile .user-info{
    display: flex;
    flex-direction: column;
    
}

.instegram .user .profile .user-info span:nth-child(1){
    color: #ddd;
    line-height: 26px;
    font-size: 15px;
    font-weight: 500px;
}
.instegram .user .profile .user-info span:nth-child(2){
    color: #aaa;
    line-height: 21px;
    font-size: 12px;
    font-weight: 700;
    
}
.follow-btn{
    background-color: transparent;
    color: #888;
    line-height: 13px;
    font-size: 13px;
    font-weight: 500;
    border:1px solid #444444 ;
    padding: 8px 15px;
   

}

.gellery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.gellery img{
    width: 100%;
}