*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


.product-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}


img{
    max-width: 100%;
    border-radius: 5px;
}

.product-card{
    min-width: 200px;
    /* max-width: 200px; */
    width: calc(25% - 20px);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
/* 
@media(max-width:1200px){
    .product-card{
        width: calc(33% - 20px);
    }
}

@media(max-width:768px){

    .product-card{
        width: calc(50% - 20px);
    }
}

@media(max-width: 480px){
    .product-card{
        width: 100%;
    }
} */
